* {
	font-family:sans-serif;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	width: 25%;
	padding: 10px;
}
li {
	list-style:none;
}
ul {
	padding-left:0px;
}
tr {
	vertical-align:top;
}
td {
	border:1px solid #000;
}
.small {
	font-size:70%;
}

div.savedsearchbox {
	background-color:#ddd;
	margin-bottom:20px;
	padding:4px;
}
div.savedsearchbox li {
	list-style-type:circle;
	margin-left:30px;
}

.statswrapper, .menuwrapper {
	margin: 10px auto;
	width: 85%;
	background: #eee;
	padding: 30px;
}

input[name='filter-services'] {
	border: 1px solid #666;
	padding: 2px 5px;
	display: block;
	width:90%;
}
select[multiple] {
	height:300px;
	padding: 2px 5px;
	margin: 2px 5px;
	width: 90%;
}
